services:
  - type: web
    name: tree-view-component
    env: static
    buildCommand: npm ci && npm run build
    staticPublishPath: ./dist
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /assets/*
        name: Cache-Control
        value: public, max-age=31536000, immutable
      - path: "/*.js"
        name: Content-Type
        value: text/javascript; charset=utf-8
      - path: "/*.mjs"
        name: Content-Type
        value: text/javascript; charset=utf-8
    routes:
      - type: rewrite
        source: /*
        destination: /index.html